.footer {
  background-color: #EBDCF9;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #deccf0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 300px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-bottom p {
  color: #666;
  font-size: 0.9em;
  margin: 5px 0;
}

.social-icons {
  display: block;
}

.social-icons ul {
  padding: 0;
}

.social-icons li {
  list-style-type: none;
}

.social-icons span {
  display: inline;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: #666;
}

.social-icons img {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 4px;
  vertical-align: middle;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
  color: #999;
}
