<footer class="footer">
  <div class="footer-content">
    <div class="footer-section company-info">
      <h4>About Us</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure ex repellendus autem aliquam reiciendis, quae recusandae obcaecati est enim expedita aliquid!</p>
    </div>
    <div class="footer-section social-media">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <ul>
          <li>
            <span>[First Name] [Last Name]</span>
            <a href="/"><img src="linkedin-icon.svg" alt="Linkedin" /></a>
            <a href="/"><img src="github-icon.svg" alt="GitHub" /></a>
          </li>
          <li>
            <span>[First Name] [Last Name]</span>
            <a href="/"><img src="linkedin-icon.svg" alt="Linkedin" /></a>
            <a href="/"><img src="github-icon.svg" alt="GitHub" /></a>
          </li>
          <li>
            <span>[First Name] [Last Name]</span>
            <a href="/"><img src="linkedin-icon.svg" alt="Linkedin" /></a>
            <a href="/"><img src="github-icon.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Chat It Up!. All rights reserved.</p>
  </div>
</footer>
