<footer class="footer">
  <div class="footer-content">
    <div class="footer-section company-info">
      <h4>About Us</h4>
      <p>We are programming and artificial intelligence enthusiasts. As part of Microsoft's Hackathon Innovation Challenge 2024, we have implemented this application to address the needs of users who want to transcribe or upload files to provide context and interact with a chatbot.</p>
      <p>Backend: <a href="https://github.com/devgeekm/Chat-It-Up">https://github.com/devgeekm/Chat-It-Up</a></p>
      <p>Frontend: <a href="https://github.com/rafaelcg14/chat-it-up-hackathon">https://github.com/rafaelcg14/chat-it-up-hackathon</a></p>
    </div>
    <div class="footer-section social-media">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <ul>
          <li>
            <span>Samuel Díaz</span>
            <div class="icons-container">
              <a href="https://www.linkedin.com/in/samuraidev/"><img src="linkedin-icon.svg" alt="Linkedin" /></a>
              <a href="https://github.com/devgeekm"><img src="github-icon.svg" alt="GitHub" /></a>
            </div>
          </li>
          <li>
            <span>Rafael Castellanos</span>
            <div class="icons-container">
              <a href="https://linkedin.com/in/rafael-castellanos-guzman"><img src="linkedin-icon.svg" alt="Linkedin" /></a>
              <a href="https://github.com/rafaelcg14"><img src="github-icon.svg" alt="GitHub" /></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Chat It Up!. All rights reserved.</p>
  </div>
</footer>
