<div class="hero-container">
  <div class="hero-content">
    <h1 class="hero-title">{{ heroName }}</h1>
    <p class="hero-description">
      <span>Transform the conversation experience!</span> More than just a chat, it's an intelligent tool that extracts and organizes knowledge from your documents, audios, and videos, giving you precise answers and accessible summaries in an instant.
    </p>
  </div>
  <button class="hero-button" (click)="scrollToSection()">Get Started</button>
</div>
