.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../public/Gradient.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.hero-content {
  max-width: 800px;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  background: linear-gradient(90deg in oklab, #152d96, #2752a1, #7994c7);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-button:hover {
  background: linear-gradient(90deg in oklab, #091a64, #253d69, #889abe);
}

@media screen and (max-width: 900px) {
  .hero-description {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-description {
    padding-inline: 4rem;
  }
}

@media screen and (max-width: 510px) {
  .hero-title{
    font-size: 3.5rem;
  }

  .hero-description {
    padding-inline: 2rem;
    font-size: 1.25rem;
  }
}
