/* Layout styling */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem;
}

.url-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: var(--color-aux);
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Video Preview */
.video-preview {
  /* margin-top: 20px; */
  /* padding: 10px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
  /* height: 220px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #f9f9f9;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-preview iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-preview p {
  color: #666;
  margin-top: 25%;
}

/* Loader styling */
.loader-container {
  margin-top: 20px;
}

/* Download button styling */
.download-container {
  margin-top: 20px;
}

.download-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1px;
}

.download-btn:hover {
  background-color: #218838;
}


@media screen and (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }
  .submit-btn {
    width: fit-content;
    align-self: center;
    margin-top: 1rem;
  }
}
