/* Layout styling */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: #333;
  font-weight: bold;
}

/* Input styling */
.input-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.url-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: var(--color-aux);
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
  /* font-weight: 700; */
  letter-spacing: 1px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Loader styling */
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #007BFF;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Download button styling */
.download-container {
  margin-top: 20px;
}

.download-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1px;
}

.download-btn:hover {
  background-color: #218838;
}

@media screen and (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }
  .submit-btn {
    width: fit-content;
    align-self: center;
    margin-top: 1rem;
  }
}
