.chatbot-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f7f9fc;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

/* Bot Message Styles */
.bot-message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bot-message-text {
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 100%;
  background-color: #e9f1ff;
  color: #333;
  align-self: flex-start;
  width: fit-content;
}

/* User Message Styles */
.user-message {
  justify-content: flex-end;
  width: 100%;
  display: flex;
}

.user-message-text {
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 80%;
  background-color: #d4f3ff;
  color: #333;
  align-self: flex-end;
  width: fit-content;
  margin-right: 0; /* Align to the right margin of the container */
}

/* Avatar Styles */
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reference-titles {
  display: block;
  margin-top: 8px;
}

.reference-title {
  display: block;
  background: #3750e0;
  color: var(--x-light-color-primary);
  border-radius: 8px;
  font-size: 1rem;
  padding-inline: 4px;
  padding-block: 2px;
  width: fit-content;
  margin-bottom: 8px;
}

/* Input Area Styles */
.input-area {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  margin-right: 10px;
  height: 40px;
}

textarea::placeholder {
  color: #a9a9a9;
}

button {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: #251991;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .bot-message-text,
  .user-message-text {
    font-size: 0.9rem;
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .bot-message-text,
  .user-message-text {
    font-size: 0.8rem;
    padding: 8px;
    max-width: 100%;
  }

  textarea {
    font-size: 12px;
  }

  button {
    padding: 8px;
  }
}
