<h1>{{ name }}</h1>

<dl>
  <td>Name:</td>
  <dd>{{ name }}</dd>

  <td>Age:</td>
  <dd>{{ age }}</dd>

  <td>Method:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalized:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
  *ngIf=" name !== 'Leorio' "
  class="btn btn-primary mx-2"
  (click)="changeHero()"
>
  Change name
</button>

<button
  *ngIf=" age !== 16 "
  class="btn btn-primary mx-2"
  (click)="changeAge()"
>
  Change age
</button>

<button
  class="btn btn-secondary mx-2"
  (click)="resetForm()"
>
  Reset form
</button>
