/* General Container Styling */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  background-color: var(--x-light-color-primary);
  color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  text-align: center;
  width: fit-content;
}

.solution-description {
  max-width: 700px;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text-primary);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.solution-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  align-items: stretch;
}

.left-section,
.right-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Feature Title Styling */
.feature-title, .feature-chatbot-title {
  font-size: 1.25rem;
  background-color: var(--light-color-secondary);
  color: var(--color-secondary);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

.feature-title:not(:first-child) {
  margin-top: 1.5rem;
}

.feature-chatbot-title {
  color: var(--x-light-color-primary);
  background-color: var(--color-primary);
}

.url-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.upload-button,
.results-button {
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover,
.results-button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .solution-container {
    gap: 1rem;
    padding: 1.5rem;
  }

  .feature-title {
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;
  }
}

@media screen and (max-width: 896px) {
  .solution-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
    padding: 0.8rem;
  }

  .feature-title {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }

  .solution-container {
    max-width: fit-content;
  }

  .url-input,
  .upload-button,
  .results-button {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}
