<div class="main-container">
  <h1>AI Services</h1>
  <div class="solution-container">
    <div class="left-section">
      <p>Enter your YouTube link here:</p>
      <url-form></url-form>
      <p>Or</p>
      <app-file-uploader></app-file-uploader>
      <!-- <button class="upload-button">Upload to Azure</button> -->
      <!-- <button class="results-button">Get Results</button> -->
    </div>
    <div class="right-section">
      <app-chatbot></app-chatbot>
    </div>
  </div>
</div>
